body {
    background-color: aquamarine;
    padding: 10px;
}

section {
    display: flex;
    flex-direction: row;
}

img {
    width: 50px;
}

#shoppingCart {
    background-color: salmon;
}

#shoppingCart, #items {
    width: 50vw;
}